PORT=3000

POSTGRES_HOST=postgres
POSTGRES_PORT=5432
POSTGRES_DATABASE=
POSTGRES_USER=
POSTGRES_PASSWORD=
#JWT_SECRET=teste
#DEFAULT_EXPIRES_IN_SECONDS=999999999
#DATABASE_URL="postgresql://postgres:123@localhost:5432/exemplo"