PORT=3000

POSTGRES_HOST=
POSTGRES_PORT=
POSTGRES_DATABASE=ecobytemetrics
POSTGRES_USER=
POSTGRES_PASSWORD=

FRONT_PORT=
PGPORT=

API_METRIC=https://metrics.unilaunch.org
API_CARBON=https://carbon.unilaunch.org
#JWT_SECRET=teste
#DEFAULT_EXPIRES_IN_SECONDS=999999999